# .gitignore
# OpenINS project
*.pyc
/info
*.swp
*.m~
*.py~
*.rst~
*.dat
*~
#Eclipse files
.metadata
.project
.pydevproject
.settings
.idea
/OpenINS/trajectory/build/temp.linux-x86_64-2.7/navtrajectory_opt.o
/OpenINS/trajectory/navtrajectory_opt.so
/OpenINS/trajectory/navtrajectory_opt.c

